<div class="container">

    <h3>{{username}} Details</h3>

    <hr>

    <div class="row">
       

        <div class="col-md-3 mb-3">
            <figure class="user-card ">
                <img src="{{user.avatar}}" alt="{{user.username}}">
                <figcaption>{{user.username}}, {{user.email}}</figcaption>
            </figure>
            {{!-- <p><a href="/user/{{_id}}/details">Details</a></p> --}}
        </div>
        <div class="col-md-3 mb-3">
            <p>{{user.username}}</p>
            <p>Role: {{user.role}}</p>
           <p>Aki va los favoritos del Usuario</p> 

            {{#if userRoles.isAdmin}}
                <!-- DELETE USER -->
                <form action="/user/{{user._id}}/delete" method="POST">
                <button type="submit" class="btn btn-danger">Delete user</button>
                </form>

                <!-- EDIT ROL USER-->
                {{#if userToEditRoles.isChef}}
                <form action="/user/{{user._id}}/edit/USER" method="POST">
                <input type="submit" class="btn btn-secondary" name="checkRole" value="Make User">
                </form>
                {{/if}}            
                {{#if userToEditRoles.isUser}}
                <form action="/user/{{user._id}}/edit/CHEF" method="POST">
                <input type="submit" class="btn btn-secondary" name="checkRole" value="Make Chef">
                </form>
                {{/if}}      
            {{/if}}

            {{#unless userRoles.isAdmin}}
                 <a href="/user/{{user._id}}/edit">Editaasasr</a>
            {{/unless}}
            
        </div>

       
    </div>
</div>