<div class="container">

	<h3>{{username}} Details</h3>

	<hr>

	<div class="row">


		<div class="col-md-3 mb-3">
			<figure class="user-card ">
				<img src="{{user.avatar}}" alt="{{user.username}}">
				<figcaption>{{user.username}}, {{user.email}}</figcaption>
			</figure>
			{{!-- <p><a href="/user/{{_id}}/details">Details</a></p> --}}
		</div>
		<div class="col-md-3 mb-3">
			<p>{{user.username}}</p>
			<p>Role: {{user.role}}</p>
			<p>Aki va los favoritos del Usuario</p>

			{{#if userRoles.isAdmin}}
			<!-- DELETE USER -->
			<form action="/user/delete/{{user._id}}" method="POST">
				<button type="submit" class="btn btn-danger">Delete user</button>
			</form>

			<!-- EDIT ROL USER-->
			{{#if userToEditRoles.isChef}}
			<form action="/user/edit-role/{{user._id}}/USER" method="POST">
				<input type="submit" class="btn btn-secondary" name="checkRole" value="Make User">
			</form>
			{{/if}}
			{{#if userToEditRoles.isUser}}
			<form action="/user/edit-role/{{user._id}}/CHEF" method="POST">
				<input type="submit" class="btn btn-secondary" name="checkRole" value="Make Chef">
			</form>
			{{/if}}
			{{/if}}

			{{#unless userRoles.isAdmin}}
			<a href="/user/edit/{{user._id}}">Edit</a>
			{{/unless}}

		</div>


		{{#if recipesFromApi}}
		<h3>Favorited Recipes from API</h3>

		<ul class="list-group mt-3">
			{{#each recipesFromApi}}
			<li class="list-group-item pt-3 d-flex justify-content-between align-items-baseline">
				<p>{{label}}</p>
				<div class="row me-2">
					<div class="col">
						<form action="/recipe/details" method="POST">
							<input type="text" name="recipe_uri" value="{{uri}}" hidden>
							<input type="submit" class="btn btn-warning d-grid" value="Details">
						</form>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>

		{{/if}}

		{{#if recipesFromChefs}}
		<h3>Favorited Recipes from Chefs</h3>
		<ul class="list-group mt-3">

			{{#each recipesFromChefs}}
			<li class="list-group-item pt-3 d-flex justify-content-between align-items-baseline">
				<p>{{name}}</p>
				<div class="row me-2">
					<div class="col">
						<form action="/recipe/recipe-chef-details" method="POST">
							<input type="text" name="id" value="{{id}}" hidden>
							<input type="submit" class="btn btn-warning d-grid" value="Details">
						</form>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>

		{{/if}}

	</div>
</div>