<div class="container">

	<h3>Users List</h3>

	<hr>

	<div class="row">
		{{#each users}}
		<div class="col-md-3 mb-3">
			<figure class="user-card ">
				<img src="{{avatar}}" alt="{{username}}">
				<figcaption>{{username}}, {{email}}</figcaption>
			</figure>
			{{#if ../register}}
			<p><a href="/user/details/{{_id}}/fromChefs">Details</a></p>
			{{/if}}
		</div>
		{{/each}}
	</div>
</div>