<div class="container-fluid background-recipes p-layout">

	<div class="container mb-5">
		<div class="row">
			<div class="col">
				<img class="img_recipes" src="{{recipe.image}}" alt="{{recipe.name}}">

				{{#if isFavorite}}
				<form action="/user/chefs-favorite/remove" method="POST">
					<input type="text" name="recipe_id" value="{{recipe.id}}" hidden>
					<input type="submit" class="btn btn-danger d-grid mt-4" value="Delete favorite">
				</form>
				{{else}}
				<form action="/user/chefs-favorite/add" method="POST">
					<input type="text" name="recipe_id" value="{{recipe.id}}" hidden>
					<input type="submit" class="btn button-list-details d-grid mt-4" value="Add favorite">
				</form>
				{{/if}}
				<a href="/recipe/list" class="btn button-cyan mt-4 px-1 py-1">Search more recipes</a>
			</div>
			<div class="col-8 recipes_view">
				<div class="row">
					<div class="view_title_list">
						<h4>{{recipe.name}}</h4>
						<hr>
					</div>
					
					<div class="col recipes-view">
						<p><strong>Preparation time: </strong>{{recipe.totalTime}} min</p>
						<p>{{#each recipe.ingredients}}
							{{food}} |
							{{/each}}
						</p>
						<h5 class="view_title_list">Ingredients</h5>

							<ul>
								{{#each recipe.ingredientsLines}}
								<li>{{this}}</li>
								{{/each}}
							</ul>
						
					</div>

					<div class="col">

						<form action="/review/create/{{recipe._id}}" method="POST">
								<label for="ratingInput">Rating</label>
								<input type="number" name="rating" id="ratingInput" min="0" max="10">
								<hr>
								<label for="commentInput">Review</label><br>
								<textarea name="comment" id="commentInput" cols="30" rows="3"></textarea>
								<input type="submit" class="button-list-details border-0" value="Create Review">
							</form>
						<div class="row my-3">
							<p class="view_title_list">Reviews</p>
							<ul class="list-rating">
								{{#each reviews}}
								<li>
									<p class="rating fs-4">{{rating}}</p>
									<p> {{comment}} - {{owner.username}}</p>
								</li>
								{{/each}}
							</ul>
						</div>


					</div>




				</div>
			</div>
		</div>
</div>